@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 mb-2">Welcome To Razor Sharp Pizzas</h1>
        <h2 class="mb-4"> Razor Sharp Pizzas, is the pizza for you!</h2>
    </div>
    <img class="mb-3 mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary" asp-page="Pizza">Order the pizza</a>
</div>
