@page
@model RazorPizzeria.Pages.OrdersModel
@{
}
<h1>All orders</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.PizzaOrders)
        {
            <tr>
                <th scope="row">@order.Id</th>
                <td>@order.PizzaName</td>
                <td>@order.BasePrice$</td>
            </tr>
        }
    </tbody>
</table>